In [1]:
import pandas as pd
import numpy as np

In [7]:
data = {
    "EmployeeID": [101, 102, 103, 104, 105, 106],
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve", "Frank"],
    "Department": ["HR", "IT", "Finance", "IT", "HR", "Finance"],
    "Age": [25, 30, 45, 28, 35, 50],
    "Salary": [50000, 60000, 120000, 75000, 62000, 130000],
    "JoinDate": ["2018-01-15", "2020-03-01", "2010-06-23", "2019-07-19", "2015-05-01", "2008-11-30"]
}

df = pd.DataFrame(data)
df["JoinDate"] = pd.to_datetime(df["JoinDate"])
print(df)

   EmployeeID     Name Department  Age  Salary   JoinDate
0         101    Alice         HR   25   50000 2018-01-15
1         102      Bob         IT   30   60000 2020-03-01
2         103  Charlie    Finance   45  120000 2010-06-23
3         104    David         IT   28   75000 2019-07-19
4         105      Eve         HR   35   62000 2015-05-01
5         106    Frank    Finance   50  130000 2008-11-30

In [ ]:
#PRACTICE EXERCISES

In [11]:
print(df.head())

   EmployeeID     Name Department  Age  Salary   JoinDate
0         101    Alice         HR   25   50000 2018-01-15
1         102      Bob         IT   30   60000 2020-03-01
2         103  Charlie    Finance   45  120000 2010-06-23
3         104    David         IT   28   75000 2019-07-19
4         105      Eve         HR   35   62000 2015-05-01
5         106    Frank    Finance   50  130000 2008-11-30

In [13]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   EmployeeID  6 non-null      int64
 1   Name        6 non-null      object
 2   Department  6 non-null      object
 3   Age         6 non-null      int64
 4   Salary      6 non-null      int64
 5   JoinDate    6 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 420.0+ bytes
None

In [14]:
print(df.describe())

       EmployeeID        Age         Salary             JoinDate
count    6.000000   6.000000       6.000000                    6
mean   103.500000  35.500000   82833.333333  2015-05-31 00:00:00
min    101.000000  25.000000   50000.000000  2008-11-30 00:00:00
25%    102.250000  28.500000   60500.000000  2011-09-09 06:00:00
50%    103.500000  32.500000   68500.000000  2016-09-07 00:00:00
75%    104.750000  42.500000  108750.000000  2019-03-03 12:00:00
max    106.000000  50.000000  130000.000000  2020-03-01 00:00:00
std      1.870829   9.974969   33766.354062                  NaN

In [ ]:
#FILTERNING DATA

In [15]:
print(df[df["Age"] > 25])

   EmployeeID     Name Department  Age  Salary   JoinDate
1         102      Bob         IT   30   60000 2020-03-01
2         103  Charlie    Finance   45  120000 2010-06-23
3         104    David         IT   28   75000 2019-07-19
4         105      Eve         HR   35   62000 2015-05-01
5         106    Frank    Finance   50  130000 2008-11-30

In [20]:
#Sorting data by salary descending

In [25]:
print(df.sort_values(by="Salary", ascending=False))

   EmployeeID     Name Department  Age  Salary   JoinDate
5         106    Frank    Finance   50  130000 2008-11-30
2         103  Charlie    Finance   45  120000 2010-06-23
3         104    David         IT   28   75000 2019-07-19
4         105      Eve         HR   35   62000 2015-05-01
1         102      Bob         IT   30   60000 2020-03-01
0         101    Alice         HR   25   50000 2018-01-15

In [26]:
#FIND AVERAGE SALARY BY DEPARTMENT

In [29]:
print(df.groupby("Department")["Salary"].mean())

Department
Finance    125000.0
HR          56000.0
IT          67500.0
Name: Salary, dtype: float64

In [30]:
#ADDING A NEW COLUMNS YEAR IN COMPANY

In [31]:
from datetime import datetime

today = pd.to_datetime("today")
df["YearsInCompany"] = (today - df["JoinDate"]).dt.days // 365

print(df[["Name" , "YearsInCompany"]])

      Name  YearsInCompany
5    Frank              16
2  Charlie              15
3    David               5
4      Eve              10
1      Bob               5
0    Alice               7

In [33]:
print(df.sort_index())

   EmployeeID     Name Department  Age  Salary   JoinDate  YearsInCompany
0         101    Alice         HR   25   50000 2018-01-15               7
1         102      Bob         IT   30   60000 2020-03-01               5
2         103  Charlie    Finance   45  120000 2010-06-23              15
3         104    David         IT   28   75000 2019-07-19               5
4         105      Eve         HR   35   62000 2015-05-01              10
5         106    Frank    Finance   50  130000 2008-11-30              16

In [34]:
# Handal Misiing Values

In [36]:
df.loc[2 , "Salary"] = None
print(df)

   EmployeeID     Name Department  Age    Salary   JoinDate  YearsInCompany
5         106    Frank    Finance   50  130000.0 2008-11-30              16
2         103  Charlie    Finance   45       NaN 2010-06-23              15
3         104    David         IT   28   75000.0 2019-07-19               5
4         105      Eve         HR   35   62000.0 2015-05-01              10
1         102      Bob         IT   30   60000.0 2020-03-01               5
0         101    Alice         HR   25   50000.0 2018-01-15               7

In [37]:
print(df.isnull())

   EmployeeID   Name  Department    Age  Salary  JoinDate  YearsInCompany
5       False  False       False  False   False     False           False
2       False  False       False  False    True     False           False
3       False  False       False  False   False     False           False
4       False  False       False  False   False     False           False
1       False  False       False  False   False     False           False
0       False  False       False  False   False     False           False

In [38]:
print(df.isnull().sum())

EmployeeID        0
Name              0
Department        0
Age               0
Salary            1
JoinDate          0
YearsInCompany    0
dtype: int64

In [39]:
#FILL MISIING VALUES WITH AVERAGE OF SALARY

In [43]:

df["Salary"].fillna(df["Salary"].mean())

5    130000.0
2     75400.0
3     75000.0
4     62000.0
1     60000.0
0     50000.0
Name: Salary, dtype: float64

In [46]:
print(df.sort_index())

   EmployeeID     Name Department  Age    Salary   JoinDate  YearsInCompany
0         101    Alice         HR   25   50000.0 2018-01-15               7
1         102      Bob         IT   30   60000.0 2020-03-01               5
2         103  Charlie    Finance   45   75400.0 2010-06-23              15
3         104    David         IT   28   75000.0 2019-07-19               5
4         105      Eve         HR   35   62000.0 2015-05-01              10
5         106    Frank    Finance   50  130000.0 2008-11-30              16

In [47]:
#VALUE COUNT HOW MANY EMPLOYEES IN ONE DEPARTMENT

In [48]:
print(df["Department"].value_counts())

Department
Finance    2
IT         2
HR         2
Name: count, dtype: int64

In [49]:
#RENAME COLUMNS

In [53]:
print(df.rename(columns={"Salary" : "Monthly_Salary"}))

   EmployeeID     Name Department  Age  Monthly_Salary   JoinDate  \
5         106    Frank    Finance   50        130000.0 2008-11-30
2         103  Charlie    Finance   45         75400.0 2010-06-23
3         104    David         IT   28         75000.0 2019-07-19
4         105      Eve         HR   35         62000.0 2015-05-01
1         102      Bob         IT   30         60000.0 2020-03-01
0         101    Alice         HR   25         50000.0 2018-01-15

   YearsInCompany
5              16
2              15
3               5
4              10
1               5
0               7

In [54]:
#DROP COLUMN

In [56]:
remove_columns = df.drop(columns=["EmployeeID"])
print(remove_columns)

      Name Department  Age    Salary   JoinDate  YearsInCompany
5    Frank    Finance   50  130000.0 2008-11-30              16
2  Charlie    Finance   45   75400.0 2010-06-23              15
3    David         IT   28   75000.0 2019-07-19               5
4      Eve         HR   35   62000.0 2015-05-01              10
1      Bob         IT   30   60000.0 2020-03-01               5
0    Alice         HR   25   50000.0 2018-01-15               7

In [57]:
print(df.sort_index())

   EmployeeID     Name Department  Age    Salary   JoinDate  YearsInCompany
0         101    Alice         HR   25   50000.0 2018-01-15               7
1         102      Bob         IT   30   60000.0 2020-03-01               5
2         103  Charlie    Finance   45   75400.0 2010-06-23              15
3         104    David         IT   28   75000.0 2019-07-19               5
4         105      Eve         HR   35   62000.0 2015-05-01              10
5         106    Frank    Finance   50  130000.0 2008-11-30              16

In [58]:
#FIND HIGHEST - PAID EMPLOYEE IN HR

In [59]:
high = df[df["Department"] == "HR"]
high_paid_hr = high[high["Salary"] == high["Salary"].max()]

print("Highest Paid in HR :-")
print(high_paid_hr)

Highest Paid in HR :-
   EmployeeID Name Department  Age   Salary   JoinDate  YearsInCompany
4         105  Eve         HR   35  62000.0 2015-05-01              10

In [60]:
# LEST EMPLOYEE WHO HAVE BEEN IN THE COMPANYE FOR 10 YEARS

In [61]:
over_10_years = df[df["YearsInCompany"] > 10]

print("Employee with more than 10 years:-")
print(over_10_years)

Employee with more than 10 years:-
   EmployeeID     Name Department  Age    Salary   JoinDate  YearsInCompany
5         106    Frank    Finance   50  130000.0 2008-11-30              16
2         103  Charlie    Finance   45   75400.0 2010-06-23              15

In [62]:
# SAAVE TO LOAD CSV

In [64]:
df.to_csv("Employee_Data" , index = False)